body {
    background-image: url("CHEESE-1.jpg");
    background-repeat: no-repeat;
    background-position: left top;
}

h1 {
  text-align: center;
  font-family: Arial;
}

#para1 {
  text-align: center;
  font-family: Arial;
}

a:link {
  text-color: Black;
